
body{
    text-align: center;
    background-color: rgb(36, 36, 36);

}

h1{
    color: rgb(0, 119, 255);
}

h2{
    color: rgb(0, 119, 255);
}

h3{
    color: rgb(0, 119, 255);
}

p{
    font-size: 30px;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}